/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin: left 0%;
  width:500px;

}

/* The code below centers the text of all h2's on the page. */
h2 {
    font-size: 24px;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-evenly;
    
    
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border:solid 5px black;
    margin: 10px;

}

body {
background-color: orange;
}

.title {
    font-size: 24px;
    font-style: italic;
}